<!--包含头部文件-->
<include file="Public:header" />
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 消息管理 <span class="c-gray en">&gt;</span> 消息列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort">
            <thead>
            <tr class="text-c">
                <th width="40"><input name="" type="checkbox" value=""></th>
                <th width="80">序号</th>
                <th width="100">主题简介</th>
                <th width="150">申请人列表</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-c">
                <td><input name="" type="checkbox" value=""></td>
                <td>1</td>
                <td>马晓晗申请涨工资</td>
                <td class="td-manage"><a href="{:U('appenterpriselist')}">进入</a></td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
<include file="Public:footer" />
</body>
</html>