<!--包含头部文件-->
<include file="Public:header" />
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 消息管理 <span class="c-gray en">&gt;</span> 消息列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort">
            <thead>
            <tr class="text-c">
                <th width="40"><input name="" type="checkbox" value=""></th>
                <th width="80">序号</th>
                <th width="100">企业名称</th>
                <th width="150">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-c">
                <td><input name="" type="checkbox" value=""></td>
                <td>1</td>
                <td>大集团</td>
                <td class="td-manage"><a style="text-decoration:none" class="ml-5" onClick="" href="javascript:;" title="同意"><span class='label label-success radius'>同意</span></a> <a style="text-decoration:none" class="ml-5"  href="" title="不同意"><span class='label label-danger radius'>不同意</span></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<include file="Public:footer" />
</body>
</html>