<!--包含头部文件-->
<include file="Public:header" />
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 导表 <span class="c-gray en">&gt;</span> 已完成任务表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
            <thead>
            <tr class="text-c" role="row">
                <th width="40" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="ID: 升序排列" style="width: 40px;">ID</th>
                <th width="60" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="企业名称: 升序排列" style="width: 60px;">福利机构名称</th>
                <th width="100" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="服务内容: 升序排列" style="width: 100px;">企业名称</th>
                <th width="100" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="发布时间: 升序排列" style="width: 40px;">活动简介</th>
                <th width="100" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="完成时间: 升序排列" style="width: 40px;">评价星级</th>
            </thead>
            <tbody>

            <foreach name="info" item="value" key="key">
            <tr class="text-c va-m odd" role="row">
                <td>{$key}</td>
                <td>{$value['wel_name']}</td>
                <td>{$value['ent_name']}</td>
                <td onclick="modal({$value.id})">{$value['title']}</td>
                <td>{$value['star']}</td>
            </tr>
            </foreach>
            </tbody>
        </table>
    </div>
    <div id="modal-demo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content radius">
                <div class="modal-header">
                    <h3 class="modal-title">简介</h3>
                    <a class="close" data-dismiss="modal" aria-hidden="true" href="javascript:void();">×</a>
                </div>
                <div class="modal-body">
                    <form class="form form-horizontal" id="form-article-add">
                        <div class="row cl">
                            <label class="form-label col-xs-4 col-sm-2">服务内容标题：</label>
                            <div class="formControls col-xs-8 col-sm-9">
                                <input type="text" class="input-text radius" value="" placeholder="" id="articletitle" name="articletitle" readonly="true">
                            </div>
                        </div>

                        <div class="row cl">
                            <label class="form-label col-xs-4 col-sm-2">服务内容：</label>
                            <div class="formControls col-xs-8 col-sm-9">
                                <textarea name="abstract" cols="" rows="" class="textarea radius"  datatype="*10-100"  dragonfly="true" readonly="true"  onKeyUp="$.Huitextarealength(this,800)" id="textareacontent"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
                </div>
            </div>
        </div>
    </div>
</div>
   <div class="mt-20" style="float:right"> <a href="{:U('export')}"><input class="btn btn-success radius" type="button" value="导表"></div></a>

</div>
<script type="text/javascript">
            function order(){
                $('.table-sort').dataTable({
                    "aaSorting": [[ 0, "desc" ]],//默认第几个排序
                    "bStateSave": true,//状态保存
                    "aoColumnDefs": [
                        //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
                        {"orderable":false,"aTargets":{}}// 制定列不参与排序
                    ]
                });
                $('.table-sort tbody').on( 'click', 'tr', function () {
                    if ( $(this).hasClass('selected') ) {
                        $(this).removeClass('selected');
                    }
                    else {
                        table.$('tr.selected').removeClass('selected');
                        $(this).addClass('selected');
                    }
                });
            };

            function modal(id) {

                $("#modal-demo").modal("show");
                var aj=$.ajax({
                    url:"{:U('Enterprise/enterprise/welinfo')}",
                    data:{
                        'id':id
                    },
                    type:"get",
                    success:function(data)  {

                        if (data.status) {
                            $("#articletitle").val(data.msg.title);
                            $("#textareacontent").val(data.msg.content);
                        }
                    },
                    error:function(){
                        alert("出现错误");
                    }
                });
                aj();
            }
</script>

<include file="Public:footer" />
</body>
</html>